/* Media */
@media (min-width: 1264px) and (max-width: 1400px) {
  .wrapper-cards-product .card-product {
    width: 49%;
  }
  .wrapper-pagination .wrapper-box {
    width: 80%;
  }
  .wrapper-pagination .wrapper-box .page-list .page-link {
    width: 30px;
    height: 30px;
  }
  .wrapper-pagination .wrapper-box .button-prev {
    width: 30px;
    height: 30px;
  }
  .wrapper-pagination .wrapper-box .button-next {
    width: 30px;
    height: 30px;
  }
}