/* Reset */
body {
  height: 100%;
  margin: 0;
}

html {
  box-sizing: border-box;
  margin: 0;
  height: 100%;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul, ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  font-size: inherit;
}

ul {
  list-style: none;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

.online-store {
  width: 100%;
  position: relative;
}

.wrapper-container {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 67.7%;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.wrapper-products {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.wrapper-products .left-side {
  width: 21.5%;
}
.wrapper-products .right-side {
  width: 76.1%;
}

/* Head */
.wrapper-head {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 28px;
}
.wrapper-head .head-title {
  font-size: 1.563vw;
  color: #7E72F2;
}
.wrapper-head .btn-cart {
  background-color: #7E72F2;
  border: none;
  color: #fff;
  font-size: 0.833vw;
  text-transform: uppercase;
  width: 120px;
  height: 36px;
  border-radius: 4px;
}
.wrapper-head .btn-cart i {
  font-size: 0.938rem;
}

/* End head */
/* Filters */
.wrapper-filters {
  width: 100%;
  background: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  padding: 20px;
  border-radius: 9px;
}
.wrapper-filters .title-filter {
  font-size: 1.094vw;
  font-weight: 400;
  padding-bottom: 20px;
}
.wrapper-filters .choose-category {
  padding-bottom: 20px;
  margin-bottom: 23px;
  border-bottom: 1px solid #D6D6D6;
}
.wrapper-filters .choose-category .category {
  padding-bottom: 15px;
  display: flex;
  align-items: center;
}
.wrapper-filters .choose-category .category span {
  padding-left: 12px;
  font-size: 0.833vw;
}

.wrapper-filter-button {
  width: 100%;
  margin-top: 20px;
}
.wrapper-filter-button .clear-filters {
  width: 100%;
  border: none;
  background-color: #7E72F2;
  text-transform: uppercase;
  font-size: 0.833vw;
  color: white;
  height: 40px;
  border-radius: 9px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

/* End filters */
/* Search */
.wrapper-search {
  width: 100%;
}
.wrapper-search .input-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  vertical-align: middle;
  align-items: center;
  max-height: 44px;
  width: 100%;
  border-radius: 9px;
  border-style: none;
  outline: none;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  padding: 0 15px 0 5px;
  margin-bottom: 20px;
}
.wrapper-search .input-box .input {
  background: none;
  border: none;
  outline: none;
  font-size: 0.833vw;
  font-weight: 400;
  height: 100%;
  width: 100%;
  padding: 20px;
}
.wrapper-search .input-box .search-button {
  background: none;
  border: none;
  height: 40px;
  font-size: 1rem;
}

/* End search */
/* Card product */
.wrapper-cards-product {
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
}
.wrapper-cards-product .card-product {
  width: 31%;
  background: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.133);
  border-radius: 9px;
  margin-bottom: 20px;
}
.wrapper-cards-product .card-product .wrapper-main-info {
  padding: 12px 18px 0 18px;
}
.wrapper-cards-product .card-product .wrapper-main-info .wrapper-image {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 150px;
}
.wrapper-cards-product .card-product .wrapper-main-info .wrapper-image img {
  width: 100%;
  object-fit: contain;
}
.wrapper-cards-product .card-product .wrapper-main-info .wrapper-price {
  display: flex;
  justify-content: space-between;
  padding: 22px 0 18px 0;
}
.wrapper-cards-product .card-product .wrapper-main-info .wrapper-price .wrapper-button-rating {
  width: 70px;
  height: 27px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #7E72F2;
  border-radius: 4px;
  cursor: pointer;
}
.wrapper-cards-product .card-product .wrapper-main-info .wrapper-price .wrapper-button-rating p {
  font-style: normal;
  font-weight: 400;
  font-size: 0.677vw;
  line-height: 14px;
  color: #FFFFFF;
}
.wrapper-cards-product .card-product .wrapper-main-info .wrapper-info-product {
  width: 100%;
  padding-bottom: 10px;
}
.wrapper-cards-product .card-product .wrapper-main-info .wrapper-info-product p {
  font-size: 0.833vw;
}
.wrapper-cards-product .card-product .wrapper-main-info .wrapper-category {
  width: 100%;
  padding-bottom: 22px;
}
.wrapper-cards-product .card-product .wrapper-main-info .wrapper-category p {
  font-size: 0.625vw;
}
.wrapper-cards-product .card-product .wrapper-button {
  width: 100%;
}
.wrapper-cards-product .card-product .wrapper-button .add-btn {
  height: 40px;
  width: 100%;
  text-transform: uppercase;
  font-size: 0.833vw;
  color: white;
  background: #7E72F2;
  border: none;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  cursor: pointer;
}

/* End Card product */
/* Pagination */
.wrapper-pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper-pagination .wrapper-box {
  width: 59.6%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.wrapper-pagination .wrapper-box .button-prev {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: #EDEDED;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.5s;
}
.wrapper-pagination .wrapper-box .button-prev:hover {
  color: white;
  transition: 0.5s;
  background-color: #7E72F2;
}
.wrapper-pagination .wrapper-box .page-list {
  display: flex;
}
.wrapper-pagination .wrapper-box .page-list .page-link {
  border-radius: 50%;
  color: black;
  width: 40px;
  height: 40px;
  background-color: #EDEDED;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.5s;
  font-size: 0.833vw;
}
.wrapper-pagination .wrapper-box .page-list .page-link:hover {
  color: white;
  transition: 0.5s;
  background-color: #7E72F2;
}
.wrapper-pagination .wrapper-box .page-list .page-link.active {
  color: white;
  background-color: #7E72F2;
}
.wrapper-pagination .wrapper-box .button-next {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: #EDEDED;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.5s;
}
.wrapper-pagination .wrapper-box .button-next:hover {
  color: white;
  transition: 0.5s;
  background-color: #7E72F2;
}

/* End pagination */
/* Cart */
.wrapper-cart {
  width: 100%;
  background-color: #fff;
  padding: 40px 10px 10px 10px;
}
.wrapper-cart .cart-item {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  margin-bottom: 15px;
}
.wrapper-cart .cart-item .wrapper-img {
  width: 56px;
}
.wrapper-cart .cart-item .wrapper-img img {
  width: 100%;
  max-width: 100%;
}
.wrapper-cart .cart-item .wrapper-info {
  width: 38.1%;
}
.wrapper-cart .cart-item .wrapper-info p {
  font-weight: 400;
  font-size: 0.813rem;
  line-height: 16px;
  color: #000000;
}
.wrapper-cart .cart-item .wrapper-box {
  width: 15.3%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wrapper-cart .cart-item .wrapper-box .wrapper-count {
  display: flex;
  align-items: center;
}
.wrapper-cart .cart-item .wrapper-box .wrapper-count .btn-count {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}
.wrapper-cart .cart-item .wrapper-box .wrapper-count p {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 16px;
  color: #000000;
  padding: 0 11px;
}
.wrapper-cart .cart-item .wrapper-box .wrapper-price p {
  font-weight: 400;
  font-size: 0.813rem;
  line-height: 16px;
  color: #000000;
}

.wrapper-total {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper-total p {
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 17px;
  color: #000000;
}
.wrapper-total span {
  padding-left: 2px;
  font-style: normal;
  font-weight: 400;
  font-size: 0.813rem;
  line-height: 16px;
  color: #000000;
}

.wrapper-button-order {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.wrapper-button-order .button-order {
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 12px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  padding: 1% 6%;
  background: #7E72F2;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}

/* End cart */
/* Media */
@media (min-width: 1264px) and (max-width: 1400px) {
  .wrapper-cards-product .card-product {
    width: 49%;
  }

  .wrapper-pagination .wrapper-box {
    width: 80%;
  }

  .wrapper-pagination .wrapper-box .page-list .page-link {
    width: 30px;
    height: 30px;
  }

  .wrapper-pagination .wrapper-box .button-prev {
    width: 30px;
    height: 30px;
  }

  .wrapper-pagination .wrapper-box .button-next {
    width: 30px;
    height: 30px;
  }
}

/*# sourceMappingURL=style.css.map */
